<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">
</head>

<body>
    <div class="login-dark">
        <form method="post" action="/JustShareIt/admin/auth/login">
            <div class="illustration"><img src="{{ url_for('static', filename='img/logo.png') }}" class="rounded-circle" height="150px"></div>
            <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Password" required/></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign In</button></div>
            <a class="forgot" href="#">Forgot your password?</a>
            {% if auth_fail %}
                <script>
                    alert("Authentication Failed!");
                </script>
            {% endif %}
        </form>
    </div>
</body>

</html>