<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JustShareIt | Share</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/client_login.css') }}">
</head>

<body>
    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
        <div class="profile-card-img" style="height:150px;background-size:cover;"></div>
        <div>
            <img class="rounded-circle" style="margin-top:-70px;" src="{{ url_for('static', filename='img/avatar-dhg.png') }}" height="150px">
            <h3>Adisakshya Chauhan</h3>
            <p style="padding:20px;padding-bottom:0;padding-top:5px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus felis et libero scelerisque.
            </p>
        </div>
        <div class="row" style="padding:0;padding-bottom:10px;padding-top:20px;">
            <div class="col">
                <div>
                    {% if requested %}
                        <a class="btn btn-info btn-lg" role="button" data-toggle="modal" href="#" id="access_granted">Access Requested</a>
                        <p>You will be redirected to dashboard, once admin approves your request!</p>
                    {% else %}
                        <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" href="#myModal">JustShareIt</a>
                    {% endif %}
                    {% if clear_cookie %}
                        <script>
                            document.cookie="JustShareItUsername=;expires=Thu; 01 Jan 1970";
                        </script>
                    {% endif %}
                    <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body" style="padding:0">
                                    <div class="login-clean">
                                        <form method="POST" id="request_form">
                                            <h2 class="sr-only">Login Form</h2>
                                            <div class="illustration">
                                                <i class="icon ion-ios-navigate"></i>
                                            </div>
                                            <div class="form-group">
                                                <input id="username" class="form-control" type="text" name="username" placeholder="Enter Username" />
                                            </div>
                                            <button class="btn btn-primary btn-block" type="submit">Log In</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/client.js') }}"></script>
<script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
</body>

</html>