<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>JustShareIt!</title>
</head>
<body>
    <nav class="navbar navbar-light mb-3">
        <div class="container">
            <div class="navbar-brand" style="font-size: 25px; font-weight: 600;max-width:25%">JustShareIt</div>
            <div class="row" style="padding:0;padding-bottom:10px;padding-top:20px;min-width:45%">
              <div class="col">
                  <div>
                      <a class="btn btn-primary" role="button" data-toggle="modal" href="#mobile" style="border-radius: 0;">
                        Share with mobile devices
                      </a>
                      <div class="modal fade" role="dialog" tabindex="-1" id="mobile">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-body" style="padding:0; text-align: center;">
                                      {% if qr_code_address %}
                                        <img src="{{ url_for('static', filename='img/qrcode/qr.svg') }}">
                                        <p>{{ qr_code_address }}</p>
                                      {% else %}
                                        <p>Failed to load QRCode</p>
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                <div>
                    <a class="btn btn-primary" role="button" data-toggle="modal" href="#requests" style="border-radius: 0;">
                      Manage users requests
                    </a>
                    <div class="modal fade" role="dialog" tabindex="-1" id="requests">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body" style="padding:10px;">  
                                  {% if waiting or approved %}
                                    <ul class="list-group">
                                      {% if waiting %}
                                        {% for visiter in waiting %}
                                          <li class="list-group-item">
                                              <span style="font-size:22px">{{ visiter }}</span>
                                              <form onsubmit="approveVisiter('{{ visiter }}')" style="float:right">
                                                <button type="submit" class="btn btn-info">
                                                    Approve
                                                </button>
                                              </form>
                                              <form onsubmit="rejectVisiter('{{ visiter }}')" style="float:right">
                                                <button type="submit" class="btn btn-danger">
                                                    Reject
                                                </button>
                                              </form>
                                          </li>
                                        {% endfor %}
                                      {% endif %}
                                      {% if approved %}
                                        {% for visiter in approved %}
                                          <li class="list-group-item">
                                              <span style="font-size:22px">{{ visiter }}</span>
                                              <a href="#" class="btn btn-success" role="button" style="float:right">Approved</a>
                                              <form onsubmit="rejectVisiter('{{ visiter }}')" style="float:right">
                                                <button type="submit" class="btn btn-danger">
                                                    Reject
                                                </button>
                                              </form>
                                          </li>
                                        {% endfor %}
                                      {% endif %}
                                      </ul>
                                  {% else %}
                                    <h2>No Visiters yet!</h2>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="container searchContainer">
        <div class="search card card-body">
            <h3>Share Files</h3>
            <p class="lead">
              Provide filename and filepath to share!
            </p>
            <form action="/JustShareIt/dashboard/admin" method="post">
                <input type="text" name="filename" class = "form-control" placeholder="File Name">
                <br>
                <input type="text" name="filepath" class = "form-control" placeholder="File Path">
                <br>
                <button type = "submit" class ="btn btn-col">Add</button>
            </form>
        </div>
        <br>
        <div id="profile">
          <div class="card card-body mb-3">
            {% if files.number_of_files %}
              <span class="alert alert-success">
                Number of files added: {{files.number_of_files}}
              </span>
              <ul class="list-group">
                {% for file in files.file_list %}
                <li class="list-group-item" style="font-size:18px">
                  {{ file }}
                  <a style="float:right">
                    <form onsubmit="deleteFile('{{ file }}')" method="DELETE">
                      <button type="submit" class="btn btn-light">
                          <i class="fa fa-times-circle fa-2x" style="color:red"></i>
                      </button>
                    </form>
                  </a>
                </li>
                {% endfor %}
              </ul>
            {% else %}
              <ul class="list-group">
                <li class="list-group-item">No file added so far!</li>
              </ul>
            {% endif %}
          </div> 
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>