<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JustShareIt | adisakshya</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
      
      <div class="row">
        <h1>JustShareIt!</h1>
      </div>
      
      <hr>
      
      <div class="row">
        <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
            <div class="card">
              <div class="card-header">8:15 PM</div>
              <div class="card-main">
                <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
                <div class="main-description" style="padding-top:10px;">Image</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="or-border">
              <div class="card-header" id="or-header">Bike</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
                <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="red-border">
              <div class="card-header" id="red-header">Morning</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
                <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
            <div class="card">
              <div class="card-header">8:15 PM</div>
              <div class="card-main">
                <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
                <div class="main-description" style="padding-top:10px;">Image</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="or-border">
              <div class="card-header" id="or-header">Bike</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
                <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="red-border">
              <div class="card-header" id="red-header">Morning</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
                <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
            <div class="card">
              <div class="card-header">8:15 PM</div>
              <div class="card-main">
                <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
                <div class="main-description" style="padding-top:10px;">Image</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="or-border">
              <div class="card-header" id="or-header">Bike</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
                <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="red-border">
              <div class="card-header" id="red-header">Morning</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
                <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
            <div class="card">
              <div class="card-header">8:15 PM</div>
              <div class="card-main">
                <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
                <div class="main-description" style="padding-top:10px;">Image</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="or-border">
              <div class="card-header" id="or-header">Bike</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
                <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="red-border">
              <div class="card-header" id="red-header">Morning</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
                <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
            <div class="card">
              <div class="card-header">8:15 PM</div>
              <div class="card-main">
                <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
                <div class="main-description" style="padding-top:10px;">Image</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="or-border">
              <div class="card-header" id="or-header">Bike</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
                <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="red-border">
              <div class="card-header" id="red-header">Morning</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
                <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
            <div class="card">
              <div class="card-header">8:15 PM</div>
              <div class="card-main">
                <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
                <div class="main-description" style="padding-top:10px;">Image</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="or-border">
              <div class="card-header" id="or-header">Bike</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
                <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="card" id="red-border">
              <div class="card-header" id="red-header">Morning</div>
              <div class="card-main">
                <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
                <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
          <div class="card">
            <div class="card-header">8:15 PM</div>
            <div class="card-main">
              <i class="fa fa-file-image-o fa-2x" style="color:#0097A7"></i>
              <div class="main-description" style="padding-top:10px;">Image</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="or-border">
            <div class="card-header" id="or-header">Bike</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="or-color"></i>
              <div class="main-description" id="or-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
        <div class="col col-md-5">
          <div class="card" id="red-border">
            <div class="card-header" id="red-header">Morning</div>
            <div class="card-main">
              <i class="fa fa-file-pdf-o fa-2x" id="red-color"></i>
              <div class="main-description" id="red-color" style="padding-top:10px;">PDF</div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
