<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JustShareIt | Dashboard</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content"><nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">
        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="bg-light form-control border-0 small" placeholder="Search for ..." />
                <div class="input-group-append">
                    <button class="btn btn-primary py-0" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav flex-nowrap ml-auto">
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow">
                <div class="nav-item">
                    {% if admin_name %}
                    <div class="nav-link"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ admin_name }}</span>
                        <img class="border rounded-circle img-profile" src="../static/img/avatar2.jpeg" />
                    </div>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>
        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#">
            <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Download All
        </a>
    </div>
    
    {% if files.number_of_files %}
    <div class="row">
        {% for file in files.file_list %}
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>12 MB</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0">
                                <a href="http://192.168.99.100:5001/JustShareIt/client/share?filename={{file}}">
                                    <span>{{ file }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    <!-- <div class="col-md-6 col-xl-2 mb-4">
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>5 MB</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>Filename 2</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-2 mb-4">
        <div class="card shadow border-left-info py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>6 MB</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>Filename 3</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-2 mb-4">
        <div class="card shadow border-left-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>9 MB</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>Filename 4</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div> -->
</div>
{% else %}
    <h2>Nothing to show here!</h2>
{% endif %}
</div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Adisakshya Chauhan 2019-2020</span></div>
                </div>
            </footer>
        </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>

  function downloadFile(filename) {
    
    alert("Are you sure you want to download " + filename + " ?");
    function download(dataurl, filename) {
        var a = document.createElement("a");
        a.href = dataurl;
        a.setAttribute("download", filename);
        a.click();
        // return false;
    }

    download("http://192.168.99.100:5001/JustShareIt/client/share?filename=", filename);
}

</script>

</body>

</html>