<!DOCTYPE html>
<html>
  <head>
    <title>JustShareIt | Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  
  <body>

      <div class="container">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#request">Users Requests</button>
        <div class="modal fade" id="request" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Requests</h4>
              </div>
              <div class="modal-body">
                <ol class="list-group" id="user-requests">
                  <% for(var i=0; i < users.length; i++) { %>
                    <li class="list-group-item" style="margin-bottom: 2%;padding-bottom: 3%;">
                      <span style="font-size:22px"><%= users[i].username %></span>
                      <% if(users[i].token){ %>
                        <span>
                          <p style="float:right;color:green;font-size: 22px;">
                            Approved
                          </p>
                        </span>
                      <% } else{ %>
                        <form onsubmit="rejectVisiter('<%= users[i].username %>')" style="float:right;">
                          <button type="submit" class="btn btn-danger">
                            Reject
                          </button>
                        </form>
                        <form onsubmit="approveVisiter('<%= users[i].username %>')" style="float:right;margin-right: 2%;">
                          <button type="submit" class="btn btn-success">
                            Approve
                          </button>
                        </form>
                      <% } %>
                    </li>
                <% } %>
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#qr">Mobile Devices</button>
        <div class="modal fade" id="qr" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Scan the QR Code to connect</h4>
              </div>
              <div class="modal-body" style="text-align: center;">
                <img src="http://localhost:3000/qr" height="450px" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>

      </div>


    <form id="file-upload-form">
      <input id="file-upload" type="file" name="fileUpload" multiple/>
      <label for="file-upload" id="file-drag">
        <span style="display: block;">
          <i class="fa fa-cloud-upload fa-4x"></i>
        </span>
        <br />
        <span style="font-size: 25px;">
          DRAG & DROP
          <br />or
        </span>
        <br />
        <span id="file-upload-btn" class="button">Click to browse</span>
      </label>

      <hr style="border: 1px solid black" />
      
      <div class="row" id="file-zone"></div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/admin.js"></script>

  </body>
</html>
