<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JustShareIt</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
  <section style="margin-top:5%; max-width:100%;">
    <div class="text-center profile-card" style="background-color:#ffffff;">
        <div class="profile-card-img" style="height:150px;background-size:cover;"></div>
        <div>
            <img class="rounded-circle" style="margin-top:-70px;" src="/images/logo.png" height="150px">
            <div class="container">
                <hr>
            </div>
            <p style="padding:20px;padding-bottom:0;padding-top:5px;font-style: italic;">
                JustShareIt, excellent open-source sharing app with fast cross-platform transfer speed, free of online feeds.<br/>
                It enables sharing files including photos, videos, music, contacts, apps and any other files, no matter of what size.
            </p>
        </div>
        <div class="row" style="padding:0;padding-bottom:10px;padding-top:20px;">
            <div class="col">
                <div>
                    <div id="request-section">
                        <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" href="#login">JustShareIt</a>
                    </div>
                  
                    <div class="modal fade" role="dialog" tabindex="-1" id="login">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body" style="padding:0">
                                    <div class="login-clean">
                                        <form method="POST" action="/request" id="request_form">
                                            <div class="form-group">
                                                <input id="username" class="form-control" type="text" name="username" placeholder="Enter Username" />
                                            </div>
                                            <button class="btn btn-primary btn-block" type="submit">Send Request!</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/login.js"></script>
</body>

</html>